<div class="container">
    <section class="order-summary">
        <header class="summary-header">
            <img loading="lazy"
                src="https://cdn.builder.io/api/v1/image/assets/TEMP/b301227846da88b7c231a16c72d2fc5a27fbfe0780654d2647f30295038194e7?placeholderIfAbsent=true&apiKey=e267c502494249909854f49fe1d37e24"
                alt="" class="summary-icon" />
            <h1 class="summary-title">Order Summary</h1>
        </header>
        <div class="item-header">
            <span class="item-name-header">Item Name</span>
            <div class="hold">
                <span class="item-qty-header">QTY</span>
                <span class="item-price-header">Price</span>
            </div>

        </div>
        <ul class="item-list">
            <li *ngFor="let item of items" class="item">
                <span class="item-name">{{ item.name }}</span>
                <div class="hold">
                    <span class="item-qty">{{ item.quantity }}</span>
                    <span class="item-price">{{ item.price }}</span>
                </div>
            </li>
        </ul>
        <hr class="divider" />
        <footer class="summary-footer">
            <div class="total-section">
                <div class="total-labels">
                    <span class="gratuity-label">Gratuity</span>
                    <span class="total-label">Total</span>
                </div>
                <div class="total-values">
                    <div class="gratuity-input-container">
                        <input type="number" [(ngModel)]="tipPercentage" class="gratuity-input" />
                    </div>
                    <div class="total-amount-section">
                        <span class="total-amount">R {{calculateTotal()}}</span>
                        <span class="split-payment-text" (click)="openSplitModal()">Split Payment?</span>
                    </div>
                </div>

            </div>
            <section class="split-payment-container" *ngIf="isSplitModalOpen">
                <h2 class="split-payment-title">split payment</h2>
                <div class="split-payment-controls">
                    <div class="quantity-control">
                        <button class="quantity-btn" (click)="decreaseQuantity()"
                            aria-label="Decrease quantity">-</button>
                        <span class="quantity-display">{{ quantity }}</span>
                        <button class="quantity-btn" (click)="increaseQuantity()"
                            aria-label="Increase quantity">+</button>
                    </div>
                    <p class="split-payment-amount">R {{ (calculateTotal()/quantity).toFixed(2) }} each</p>
                </div>
            </section>

            <button class="next-button" (click)="next()">Next</button>
        </footer>
    </section>
</div>