<div class="menu" [ngStyle]="{'background-color': brand.backgroundColor}">
    <img class="logo" [src]="brand.imageUrl" alt="" />

    <a class="linkFooter" (click)="callForService()">Call for Service</a>
    <p class="calledService" *ngIf="showCalled">A staff member has been notified and will be with you shortly.</p>
<!--     <a class="linkFooter" [routerLink]="['/', id, 'about']">About</a>-->    
     <a class="linkFooter" [routerLink]="['/', id, 'help']">Help</a>

    <p class="footerText">Powered by</p>

    <img class="logo"
        src="https://firebasestorage.googleapis.com/v0/b/hungr-firebase.appspot.com/o/hungr.png?alt=media&token=df0be79f-4f1a-46d2-afe1-0146b757d9fd"
        alt="" />
</div>