<div class="menu" [ngStyle]="{'background-color': brand.backgroundColor}">
    <img class="logo" [src]="brand.imageUrl" alt="" />
    <a class="linkFooter" routerLink="/call-for-service">Call for Service</a>
    <a class="linkFooter" routerLink="/about">About</a>
    <a class="linkFooter" routerLink="/help">Help</a>
    <p class="footerText">Powered by</p>
    <img class="logo"
        src="https://firebasestorage.googleapis.com/v0/b/hungr-firebase.appspot.com/o/hungr.png?alt=media&token=df0be79f-4f1a-46d2-afe1-0146b757d9fd"
        alt="" />
</div>