<div class="mainHolder">
    <main class="login-container">
        <img loading="lazy" src="../../../assets/hungr.png" alt="Company Logo" class="company-logo" />
        <header class="login-header">
            <h1 class="login-title">Log in</h1>
            <button class="skip-button">SKIP this step</button>
        </header>
        <form class="login-form">
            <div class="form-group">
                <label for="email" class="form-label">email address</label>
                <input type="email" id="email" #userName required class="form-input"
                    placeholder="email@address.co.za" />
            </div>
            <div class="form-group">
                <div class="password-header">
                    <label for="password" class="form-label">Password</label>
                    <a href="#" class="forgot-password-link">Forgot password</a>
                </div>
                <div class="password-input-wrapper">
                    <input type="password" id="password"
                        (keyup.enter)="authService.SignIn(userName.value, userPassword.value, id)" #userPassword
                        required class="form-input" placeholder="Password" />

                    <img loading="lazy"
                        src="https://cdn.builder.io/api/v1/image/assets/TEMP/f96cba39cf56d1963a7221c46c6e2ccedac6df3d95180596d122008130ea9355?placeholderIfAbsent=true&apiKey=e267c502494249909854f49fe1d37e24"
                        alt="" class="password-toggle" />
                </div>
            </div>
            <button type="submit" class="submit-button"
                (click)="authService.SignIn(userName.value, userPassword.value, id)">Log in</button>
        </form>
        <p class="signup-prompt">
            Don't have an account? <a routerLink="/:id/signup" class="signup-link">Sign up</a>
        </p>
    </main>
</div>