.confirmation-modal {
    border-radius: 5px;
    background: #fff;
    display: flex;
width: 100%;
    flex-direction: column;
    overflow: hidden;
    text-align: center;
    letter-spacing: -0.01px;
    padding: 25px 0;
    font: 700 14px 'Commissioner',  Helvetica, sans-serif;
  }

  .close-button {
    align-self: flex-end;
    background: none;
    border: none;
    padding: 0;
    margin-right: 22px;
    cursor: pointer;
  }

  .close-icon {
    width: 15px;
    aspect-ratio: 1;
    object-fit: contain;
  }

  .confirmation-content {
    display: flex;
    margin-top: 10px;
    width: 100%;
    flex-direction: column;
    padding: 0 31px;
  }

  .success-message {
    border-radius: 6px;
    background: rgba($color: #3CE1AF, $alpha: 0.3);
    color: #08865f;
    text-transform: uppercase;
    padding: 13px 7px;
    margin: 0;
    font-size: 14px;
  }

  .action-buttons {
    display: flex;
    margin-top: 11px;
    width: 100%;
    gap: 10px;
    line-height: 1;
  }

  
  .action-buttons button {
    text-transform: uppercase;
    font-weight: BOLD;
  }

  .secondary-button {
    flex: 1;
    border-radius: 6px;
    background: #dedede;
    min-height: 40px;
    color: #444;
    padding: 10px 16px;
    border: none;
    cursor: pointer;
  }

  .primary-button {
    flex: 1;
    border-radius: 6px;
    background: #000;
    min-height: 40px;
    color: #f8f9fb;
    padding: 10px 16px;
    border: none;
    cursor: pointer;
  }

  .helper-text {
    color: #9a9a9a;
    font-weight: 400;
    line-height: 1;
    margin: 15px 0 0;
  }