<nav class="navbar" [ngStyle]="{'background-color': brand.backgroundColor}" *ngIf="!isLoading">
    <a [routerLink]="['/', id]"><img class="logo" [src]="brand.imageUrl" alt="" /></a>
    <div class="hamburger" (click)="toggleMenu()">
        &#9776;
    </div>
    <div class="menu" [class.open]="isMenuOpen" [ngStyle]="{'background-color': brand.backgroundColor}">
        <div class="topbar">
            <a [routerLink]="['/', id]" (click)="toggleMenu()"><img class="logo" [src]="brand.imageUrl" alt="" /></a>
            <i class="material-icons" (click)="toggleMenu()">close</i>
        </div>
        <ul class="menuLinks">
            <li><a (click)="callForService()">Call for Service<br /><span *ngIf="!showCalled">Need assistance from your
                        waiter?
                        Select this option and someone will tend to you shortly.</span>
                    <p class="calledService" *ngIf="showCalled">A staff member has been notified and will be with you
                        shortly.
                    </p>
                </a></li>

            <!-- <li><a [routerLink]="['/', id, 'profile']" (click)="toggleMenu()">Profile</a></li> -->
            <li><a [routerLink]="['/', id, 'about']" (click)="toggleMenu()">About</a></li>
           <!--  <li><a [routerLink]="['/', id, 'help']" (click)="toggleMenu()">Help</a></li> -->
        </ul>
    </div>
</nav>

<!-- Loader section -->
<app-loading [isLoading]="isLoading"></app-loading>