.container{
    display: flex;
    padding: 20px;

}

.payment-method {
    border-radius: 0;
    display: flex;
 width: 100%;
    flex-direction: column;
    font-family: 'Commissioner', sans-serif;
    color: #000;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
  }
  .payment-header {
    align-self: start;
    display: flex;
    gap: 41px;
    font-size: 18px;
    letter-spacing: -0.02px;
    line-height: 22px;
  }
  .payment-icon {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 40px;
    align-self: start;
  }
  .payment-options {
    display: flex;
    margin-top: 30px;
    width: 100%;
    padding-left: 12px;
    flex-direction: column;
    font-size: 14px;
    letter-spacing: -0.01px;
    line-height: 2;
  }
  .payment-option {
    border-radius: 6px;
    background-color: #fff;
    padding: 8px 70px;
    border: 2px solid #ddd;
    margin-top: 5px;
    cursor: pointer;
  }
  .selected {
    border-color: #000;
  }
  .option-text {
    font-weight: 400;
    white-space: nowrap;
  }
  .submit-button {
    align-self: center;
    border-radius: 6px;
    background-color: #000;
    margin-top: 30px;
    min-height: 40px;
    width: 150px;
    max-width: 100%;
    color: #f8f9fb;
    white-space: nowrap;
    line-height: 1;
    padding: 10px 16px;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
  }