/* styles.css */
.subcategory-slider {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  max-width: 90%;
}

.subcategory-slider div {
  padding: 5px 10px;
  margin-right: 10px;
  cursor: pointer;
  font-family: "Commissioner", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 6px;
}

.subcategory-slider .active {
  color: white;
  background-color: #8f1517;
}
.menuHold {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dropdown {
  border: 1px solid #dedede;
  background-color: white;
  border-radius: 6px;
  width: 90%;
  font-family: "Commissioner", sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 20px;
}

.items-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 21px;

  .item {
    width: 100%;
    display: flex;
    flex-direction: row;
    border-radius: 6px;
    background-color: white;
    cursor: pointer;

    .img {
      width: 40%;
      border-radius: 6px 0 0 6px;

      img {
        height: 100%;
        object-fit: cover;
        object-position: center;
        width: 100%;
        border-radius: 6px 0 0 6px;
      }
    }

    .col {
      width: 60%;
      padding: 15px;
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    .row {
      width: 100%;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      display: flex;
      gap: 10px;

      p {
        font-weight: bold;
      }
    }
  }
}
.recommended-section {
  margin-bottom: 20px;
  text-align: center;
  max-width: 100%;
  overflow: hidden;

  h4 {
    font-size: 1.5rem;
    margin-bottom: 15px;
  }

  .slider-container {
    position: relative;
    display: flex;
    align-items: center;
    max-width: 100%;
    overflow: hidden;
    padding: 10px;
  }

  .items-wrapper {
    display: flex;
    gap: 10px;
    overflow-x: auto;
    scroll-behavior: smooth;
    white-space: nowrap;
    scrollbar-width: none;
    max-width: 100%;
    padding: 10px;
  }

  .items-wrapper::-webkit-scrollbar {
    display: none;
  }

  .item {
    flex: 0 0 auto;
    width: 220px;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    padding: 0 0 10px 0;
    transition: transform 0.3s ease;
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    background: white;

    &:hover {
      transform: scale(1.05);
    }

    .img {
      height: 150px;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;

      img {
        max-width: 100%;
        height: auto;
        border-radius: 8px;
      }
    }

    .col {
      padding: 10px;

      .row {
        display: flex;
        flex-direction: row;
        gap: 10px;
        justify-content: space-between;
        align-items: center;
      }

      .item-name {
        font-weight: 700;
        font-size: 14px;
        line-height: 22px;
        letter-spacing: -0.1%;
        text-align: left;
        text-transform: capitalize;
      }

      .item-price {
        font-weight: 700;
        font-size: 14px;
        line-height: 22px;
        letter-spacing: -0.1%;
        flex: 1;
        text-transform: uppercase;
      }

      .item-desc {
        font-weight: 300;
        font-size: 14px;
        line-height: 100%;
        letter-spacing: 0%;
        text-align: left;
        white-space: normal;
      }
    }
  }

  .slider-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 2;
    font-size: 18px;
    border-radius: 50%;
  }

  .slider-btn.left {
    left: 0px;
  }

  .slider-btn.right {
    right: 0px;
  }

  .slider-btn:hover {
    background: rgba(0, 0, 0, 0.8);
  }
}

.custom-dropdown {
  position: relative;
  background: white;
  border: 1px solid #ccc;
  padding: 12px;
  border-radius: 8px;
  cursor: pointer;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  span {
    display: flex;
    width: 100%;
  }
}

.custom-dropdown::after {
  content: " ▼";
  float: right;
  font-size: 12px;
  margin-left: 8px;
  color: #555;
}

.options {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: white;
  border: 1px solid #ccc;
  max-height: 200px;
  overflow-y: auto;
  z-index: 1000;
}

.options div {
  padding: 10px;
  cursor: pointer;
}

.options div.selected {
  background-color: #f2f2f2;
}
