<div class="menuHold">
  <app-img-slider [images]="specialsList"></app-img-slider>
  <div class="recommended-section" *ngIf="recommendedItems.length > 0">
    <h4 class="mainHeading" [ngStyle]="dynamicStyles">Recommended for you</h4>
    <div class="slider-container">
      <div class="items-wrapper" #scrollContainer>
        <div
          *ngFor="let item of recommendedItems"
          class="item"
          (click)="navigateToItem(item.itemId)"
        >
          <div class="img">
            <img [src]="item.imageUrl" alt="{{ item.name }}" />
          </div>
          <div class="col">
            <div class="row">
              <p
                [ngStyle]="dynamicStylesText"
                class="item-name"
                style="white-space: normal"
              >
                {{ item.name }}
              </p>
              <p [ngStyle]="dynamicStylesText" class="item-price">
                <strong>{{ item.price }}</strong>
              </p>
            </div>
          </div>
        </div>
      </div>
      <!--             <button class="slider-btn right" (click)="scrollRight()">&#10095;</button>
 -->
    </div>
  </div>
  <h4 class="mainHeading" [ngStyle]="dynamicStyles">Browse Menu</h4>
  <div class="custom-dropdown">
    <span [ngStyle]="dynamicStylesText" (click)="toggleDropdown()">
      {{ selectedCategory?.name || "Select Category" }}
    </span>
    <div class="options" *ngIf="dropdownOpen">
      <div
        *ngFor="let category of categories"
        (click)="selectCategory(category); $event.stopPropagation()"
        [class.selected]="category === selectedCategory"
        [ngStyle]="dynamicStylesText"
      >
        {{ category.name }}
      </div>
    </div>
  </div>

  <div class="subcategory-slider" *ngIf="subcategories.length > 0">
    <div
      *ngFor="let subcategory of subcategories; let i = index"
      [ngClass]="{ active: subcategory.id === activeSubcategoryId }"
      (click)="onSubcategoryChange(subcategory)"
    >
      <p>{{ subcategory.name }}</p>
    </div>
  </div>

  <div class="items-list">
    <div
      *ngFor="let item of getFilteredItems(); let i = index"
      class="item"
      (click)="navigateToItem(item.itemId)"
    >
      <div class="img">
        <img [src]="item.imageUrl" alt="" />
      </div>
      <div class="col">
        <div class="row">
          <p [ngStyle]="dynamicStylesText">{{ item.name }}</p>
          <p style="white-space: nowrap" [ngStyle]="dynamicStylesText">
            {{ item.price }}
          </p>
        </div>
        <p [ngStyle]="dynamicStylesText">{{ item.description }}</p>
      </div>
    </div>
  </div>
</div>
